{
  "semi": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 140,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-organize-attributes", "prettier-plugin-tailwindcss"]
}
